<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<div>
			<a class="navbar-brand" href="#"> 
			<img alt="banner" th:src="@{/images/banner.jpg}" />
			 </a>
		
       <form method="post" class="otech-link-panel2"
         th:action="@{/logout}">
       
       <span class="label"
		th:text="${nomeUsuarioLogado}"
		></span>
       <button type="submit" class="btn btn-default">
       <span class="glyphicon glyphicon-log-out"></span> 
       Sair
       </button>
</form>
		    	
		</div>
	</div>
</nav>

</html>


