<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="modal fade" id="exclusaoModal" tabIndex="-1" data-keyboard="false" data-backdrop="static">
	<form id="form" th:attr="data-url-base='/titulos'" method="POST">
	<div class="modal-dialog">
		
		<input type="hidden" name="_method" value="DELETE"/>
		<div class="modal-content">
			<div class="modal-header">
			<h4 class="modal-title" th:text="#{com.omalotech.remocao}"></h4>
			</div>
			
			<div class="modal-body">
			<span th:text="#{com.omalotech.exclusao.msg}"></span>
			</div>
			
			<div class="modal-footer">
			
			<button type="button" class="btn btn-link" data-dismiss="modal" th:text="#{com.omalotech.cancelar}"></button>
			<button type="submit" class="btn btn-primary" th:text="#{com.omalotech.excluir}">r</button>
			</div>
			
		</div>
		
	</div>
   </form>
</div>


</html>


