<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
<head>
<title>Cadastro de Títulos</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.standalone.min.css}" />
<link th:href="@{/css/common.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#"> 
			<img alt="banner" th:src="@{/images/banner.jpg}" />
			 </a>
		    	
		</div>
	</div>
</nav>
  <form class="form-signin" method="POST" th:action="@{/login}" >

        <h2 class="text-center">Autenticação</h2>

        <div class="form-group}">
            <span>Nome</span>
            <input name="username" type="text" class="form-control"  id="username" placeholder="Usuário" />
            </div>
            <div class="form-group">
            <span>Senha</span>
            <input name="password" type="password"  id="password" class="form-control" placeholder="Senha"/>
            
             <input name="passwordConfirm" type="hidden" id="passwordConfirm" value="abc"/>
            
			</div>
			<div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Logar</button>
            <h4 class="text-center"><a th:href="@{/registration}">Crie uma nova conta</a></h4>
        </div>

    </form>
    
    <script  th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script  th:src="@{/js/jquery.maskMoney.min.js}"></script>
	<script  th:src="@{/js/bootstrap.min.js}"></script>
	<script  th:src="@{/js/bootstrap-datepicker.min.js}"></script>
	<script  th:src="@{/js/bootstrap-datepicker.pt-BR.min.js}"></script>
	<script  th:src="@{/js/cobranca.js}"></script>
</body>
</html>