<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>

<title th:text="#{com.omalotech.pesquisa.de.t}"></title>

</head>
<section layout:fragment="conteudo">
	<div layout:include="MensagemSucesso"></div>
	<div class="panel panel-default">

		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title otech-titulo-panel" th:text="#{com.omalotech.pesquisa.de.t}"></h1>
				<a class="btn btn-link otech-link-panel" th:href="@{/titulos/novo}" th:text="#{com.omalotech.novo.titulo}"></a>
			</div>
		</div>

		<div class="panel-body">

			
				<form method="GET" class="form-horizontal" th:action="@{/titulos}" th:object="${filtro}">
					<div class="form-group">
						<div class="col-sm-4">
							<div class="input-group">
								<input class="form-control" autofocus="autofocus" name="descricao"
								th:field="*{descricao}" placeholder="Qual título você está procurtando?"></input> 
									<span class="input-group-btn">
										<button type="submit" class="btn btn-default">
											<i class="glyphicon glyphicon-search"></i>
										</button>
								</span>
							</div>
						</div>
					
					<div class="col-sm-2">
					<input type="text" class="form-control" placeholder="Data Vencimento Inicial" id="dataVencimento" 
						data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR" th:field="*{{dataVencimento}}"
						data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom"/>
				</div>
				
				<div class="col-sm-2">
					<input type="text" class="form-control" placeholder="Data Vencimento Final" id="dataVencimentoFinal" 
						data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR" th:field="*{{dataVencimentoFinal}}"
						data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom"/>
				</div>
				
				<div class="col-sm-2">
					<select class="form-control" id="status" name="status" >
						<option value="" selected="selected" th:text="#{com.omalotech.status}"></option>
						<option th:each="status: ${todosStatusTitulo}" th:field="*{status}"
							th:value="${status}" th:text="${status.descricao}"></option>						
					</select>
				</div>
				</div>
				</form>
			
			<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-2" th:text="#{com.omalotech.codigo}"></th>
						<th th:text="#{com.omalotech.descricao}"></th>
						<th class="text-center col-md-2" th:text="#{com.omalotech.dataVencimento}"></th>
						<th class="text-right col-md-2" th:text="#{com.omalotech.valor}"></th>
						<th class="text-center col-md-2" th:text="#{com.omalotech.status}"></th>
						<th class="text-center col-md-1" th:text="#{com.omalotech.alter}"></th>
					</tr>

				</thead>
				<tbody>

					<tr th:each="titulo : ${titulosPesquisa}">
						<td class="text-center" th:text="${titulo.codigo}"></td>
						<td th:text="${titulo.descricao}"></td>
						<td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
						<td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
						<td class="text-center" th:attr="data-role=${titulo.codigo}">
						<span class="label"
							th:text="${titulo.status.descricao}"
							th:classappend="${#strings.toString(titulo.status) == 'PENDENTE' ? 'label-danger' : 'label-success'}"></span>

						</td>
						<td class="text-center">
						
							<a class="btn btn-libk btn-xs" 
							th:href="@{/titulos/{codigo}(codigo=${titulo.codigo})}" title="Editar" rel="tooltip" data-placement="top"><span
								class="glyphicon glyphicon-pencil"></span></a> 
							
							<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#exclusaoModal"
							th:attr="data-codigo=${titulo.codigo},data-descricao=${titulo.descricao}" title="Excluir" rel="tooltip" data-placement="top">
							  <span
								class="glyphicon glyphicon-remove"> </span></a>
								
								<a class="btn btn-link btn-xs js-atualizacao" th:attr="data-codigo=${titulo.codigo}"
								th:if="${#strings.toString(titulo.status)=='PENDENTE'}" title="Recber" rel="tooltip" 
								data-placement="top" th:href="@{/titulos/{codigo}/receber(codigo=${titulo.codigo})}">
							  <span
								class="glyphicon glyphicon-check"> </span></a>	
					 </td>
					</tr>
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(titulosPesquisa)}" th:texy="#{com.omalotech.registro.nao.encont}"></td>
					</tr>

					</tbody>
				</table>
				 <br></br>
				<!--  <h4 class="text-left"><a th:href="@{/tituloClient/pesquisa}">Pesquisa por usuário via Rest</a></h4>  -->
			</div>
		</div>
		
		<div layout:include="DialogoExclusao"></div>
		
	</div>
</section>


</html>


